@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
}

header .logo a {
    font-size: 30px;
    color: white;
    padding: 15px 30px;
}

header .logo a span {
    color: orange;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin: 5px 20px;
    font-size: 18px;
    color: white;
    padding: 10px 10px;
}

header nav ul li a:hover {
    border-bottom: 2px solid white;
}



/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("img/logo-animada.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content h2 {
    font-size: 32px;
    padding: 5px;
    color: white;
}

.content p {
    font-size: 22px;
    color: white;
}

.content .bit {
    color: orange;
}


/* Menu */

.menu {
    background-color: #333333;
    width: 100%;
}

.menu .menu-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu-header h3 {
    color: orange;
    padding: 10px 30px;
}

.menu-header h4 {
    color: orange;
    padding: 10px 20px;
}

.menu .menu-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
    background-color: #404040;
    
}

.menu .menu-content .cafes-quentes,
.cafes-gelados,
.cafe-frappucino {
    width: 250px;
}

.menu .menu-content .cafes-quentes .cafes-quentes-image img,
.menu .menu-content .cafes-gelados .cafes-gelados-image img,
.menu .menu-content .cafe-frappucino .cafe-frappucino-image img {
    border-radius: 50%;
    transition: transform 0.3s ease, 0.3s ease;
    cursor: pointer;
}

.menu .menu-content .cafes-quentes .cafes-quentes-image img:hover,
.menu .menu-content .cafes-gelados .cafes-gelados-image img:hover,
.menu .menu-content .cafe-frappucino .cafe-frappucino-image img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px orange;
    border: solid 1px orange;
}

.menu .menu-content .cafes-quentes-body,
.cafes-gelados-body,
.cafe-frappucino-body {
    text-align: center;
    margin-top: 10px;
}

.menu .menu-content .cafes-quentes-body h2,
.cafes-gelados-body h2,
.cafe-frappucino-body h2 {
    color: orange;
}

.menu .menu-content .cafes-quentes-body p,
.cafes-gelados-body p,
.cafe-frappucino-body p {
    margin-top: 10px;
    color: white;
}



/* Shop */

.shop-container {
    background-color: #333333;
    width: 100%;
}

.shop-container .shop-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.shop-header h3 {
    color: orange;
    padding: 10px 30px;
}

.shop-header h4 {
    color: orange;
    padding: 10px 20px;
}

.shop-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #404040;
    padding: 50px 0;
    flex-wrap: wrap;
}

.shop-box .card {
    width: 280px;
    margin: 20px;
    box-shadow: 0 0 10px #535353;
}

.shop-box .card-image {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.shop-box .card-image img:hover {
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.shop-box .card-body {
    padding: 20px;
    color: white;
    border: 3px solid #3B3B3B;
}

.shop-box .card-body h3 {
    padding: 10px 0;
    color: orange;
}

.shop-box .card-body i {
    color: #27ae60;
    font-size: 15px;
    position: relative;
    bottom: 5px;
}

.shop-box .card-body span{
    font-size: 15px;
    position: relative;
    bottom: 5px;
}

.shop-box .card-body .valor-produto {
    font-size: 20px;
    margin-left: 0;

}

.shop-box .card-body .valor-produto span{
    font-size: 15px;
    margin-left: 0;
    font-weight: 700;
    color: #27ae60;

}

/* visualizar produtos */

.produto-visualizar {
    position: fixed;
    top: 0; 
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.produto-visualizar .visualizar {
    display: none;
    padding: 1.5rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 1.5rem;
    width: 30rem; /* Diminuído de 40rem para 30rem */
    border-radius: 8px;
}

.produto-visualizar .visualizar.active {
    display: inline-block;
}

.produto-visualizar .visualizar img {
    height: 100%; /* Ou ajuste para um valor adequado ao layout */
    width: 100%;  /* Garante que ocupe todo o contêiner */
    object-fit: cover; /* Enquadra a imagem no contêiner */
    border-radius: 0.5rem; /* Opcional: adiciona bordas arredondadas */
}

.produto-visualizar .visualizar .fa-times {
    position: absolute;
    top: 1.7rem; 
    right: 2.2rem;
    cursor: pointer;
    color: orange;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.produto-visualizar .visualizar .fa-times:hover {
    transform: rotate(90deg); /* Gira 90 graus e aumenta um pouco */
    color: #ff1900; /* Troca para uma cor vermelha ao passar o mouse */
}

.produto-visualizar .visualizar h3 {
    color: #444;
    padding: 0.4rem 0;
    font-size: 2rem; /* Diminuído de 2.5rem para 2rem */
}

.produto-visualizar .visualizar .estrelas {
    padding: 0.8rem 0;
    font-size: 1.4rem; /* Diminuído de 1.7rem para 1.4rem */
    color: #27ae60;
}

.produto-visualizar .visualizar p {
    line-height: 1.4;
    padding: 0.8rem 0;
    font-size: 1.4rem; /* Diminuído de 1.6rem para 1.4rem */
    color: #777;
}

.produto-visualizar .visualizar .preco {
    padding: 0.8rem 0;
    font-size: 2rem; /* Diminuído de 2.5rem para 2rem */
    color: #27ae60;
}

.produto-visualizar .visualizar .buttons {
    display: flex;
    gap: 1rem; /* Diminuído de 1.5rem para 1rem */
    flex-wrap: wrap;
    margin-top: 0.8rem;
    border-radius: 5px;
}

.produto-visualizar .visualizar .buttons a {
    flex: 1 1 14rem; /* Diminuído de 16rem para 14rem */
    padding: 0.8rem; /* Diminuído de 1rem para 0.8rem */
    font-size: 1.6rem; /* Diminuído de 1.8rem para 1.6rem */
    color: #444;
    border: 0.1rem solid #444;
    border-radius: 5px;
}

.produto-visualizar .visualizar .buttons a:hover {
    background-color: #777;
    color: #fff;
}

/* Contact */

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid #333333;
}

.contact .contact-box {
    flex: 1;
}

.contact .contact-box .contact-image,
.contact .contact-box .contact-body {
    height: 100%;
}

.contact img {
    width: 100%;
    height: 100%;
}

.contact-image img {
    opacity: .9;
}

.contact-body {
    background-color: #404040;
    height: 100%;
    border-left: 2px solid #333333;
}

.contact-body form {
    padding: 50px 40px;
    box-sizing: border-box;
}

.contact-body h2 {
    color: orange;
}

form .form-content {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid lightgray;
}

form .form-content input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

form .form-content p {
    position: absolute;
    top: 50%;
    left: 5px;
    color: gray;
    transform: translateY(-50%);
    font-size: 17px;
    transition: .5s;
    pointer-events: none;
}

form .form-content span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: orange;
    transform: .4s;
}

form .form-content input:focus~p,
form .form-content input:valid~p {
    top: -5px;
    color: orange;
}

form .form-content input:focus~span::before,
form .form-content input:valid~span::before {
    width: 100%;
}

.contact-body form button {
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background-color: #fa7b26;
    color: white;
    border: 5px;
    cursor: pointer;
    transition: all .4s ease-in;
}

.contact-body form button:hover {
    background-color: orange;
}


/* Footer */


.footer {
    background-color: #404040;
    border-top: 2px solid #333333;
}

.footer .footer-box {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50%;
    font-size: 17px;
    padding: 10px;
    margin: 5px;
}

.footer .footer-box .social-media a:hover {
    opacity: .7;
    transition: .5s all ease-in-out;
}

.footer .footer-box .copyright {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer .footer-box .copyright img {
    width: 75px;
    padding: 10px;
    border-radius: 50%;
}

.footer .footer-box .brand {
    color: white;
    font-size: 20px;
}

.footer .footer-box .brand span {
    color: orange;
}

/* Responsive */

@media(max-width: 992px) {

    /* Header */

    header {
        flex-direction: column;
        height: 150px;
        background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    }

    .menu-header .logo a {
        font-size: 25px;
    }

    header nav ul li a {
        font-size: 16px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    .content h2 {
        font-size: 28px;
    }

    .content p {
        font-size: 18px;
    }
}


@media(max-width: 950px) {
    .contact .contact-box {
        flex: 100%;
    }
}

@media(max-width: 800px) {

    .menu .menu-content .cafes-quentes,
    .cafes-gelados,
    .cafe-frappucino {
        margin: 20px;
    }
}

@media(max-width: 700px) {
    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 5px;
    }

    .footer .footer-box .copyright {
        color: white;
        font-size: 15px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 18px;
    }
}

@media(max-width: 500px) {

    /* header */

    header {
        height: 130px;
    }

    header .logo a {
        font-size: 23px;
    }

    header nav ul li a {
        font-size: 13px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }


    /* Content */

    .content h2 {
        font-size: 23px;
    }

    .content p {
        font-size: 16px;
    }


    /* footer */

    .footer .footer-box {
        flex-direction: column;
    }

    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        display: inline-block;
    }

    .footer .footer-box .copyright {
        color: white;
        font-size: 15px;
        margin-top: 10px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 18px;
        margin-top: 10px;
    }

}


@media(max-width: 410px) {

    /* header */

    header {
        height: 120px;
    }

    header .logo a {
        font-size: 20px;
        color: white;
        padding: 15px 30px;
    }

    header nav ul li a {
        font-size: 12px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
        color: white;
        padding: 5px 5px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    /* content */

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 13px;
    }

}